{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<style>
    form {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .new-note{
        padding: 20px;
        box-shadow: 0px 0px 5px 1px black;
        width: fit-content;
    }

    .new-note h3 {
        margin-top: 0;
    }

    .headline{
        text-align: center;
    }

    .note-field {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 5px 1px lightgray;
        width: fit-content;
        padding: 10px;
        margin-top: 20px;
    }
</style>

<div class="new-note">
    <div class="headline">
        <h3>Add a new Note!</h3>
    </div>
    
    <form action="/notes/" method="post">
        {% csrf_token %}
    
        <div style="display: flex;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="title" class="mdl-textfield__input" type="text" id="sample3" required>
            <label class="mdl-textfield__label" for="sample3">Title</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea name="note" class="mdl-textfield__input" type="text" rows= "3" id="sample5" required></textarea>
            <label class="mdl-textfield__label" for="sample5">note...</label>
        </div>
    
        <div class="toggle">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1">
                <span class="mdl-radio__label">General</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                <span class="mdl-radio__label">Privat</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
                <span class="mdl-radio__label">Professional</span>
              </label>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
                <span class="mdl-radio__label">Other</span>
            </label>
        </div>
        
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            Save
        </button>
    </form>
</div>

{% for notes in notes %}
<div>
    <div class="note-field">
        <div class="title">
            <h5> {{ notes.title }}</h5>
        </div>
        <div class="note">
            <p>{{ notes.note }}</p>
        </div>
    </div>
    
    
</div>
{% endfor %}

{% else %}
    <h2>Nicht eingeloggt</h2>
    <p>Bitte logge dich <a href="/login/">hier</a> ein.</p>
{% endif %}
{% endblock %}